body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

div {
    margin: 30px;
}

h1 {
    border: 5px ridge lightblue;
    width: 560px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
    text-align: center;
}

p {
    width: 560px;
}

img {
    width: 560px;
    height: auto;
    border-radius: 5px;
    
}

ul {
    background-color: lightblue;
    border-radius: 20px;
    width: 560px;
    padding: 30px;
    box-sizing: border-box;
}

li {
    width: 560px;
}